<div class="row align-items-start">
  <div class="col-md-9">
    <h2>Home</h2>
    <p>There's not a lot here at the moment. Stay tuned!</p>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Explore comics by series</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Recommended</h6>

        <%= link_to "Explore more →", series_index_path, class: "card-link link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
      </div>
    </div>
  </div>
</div>
