<div class="row g-0">
  <div class="col-lg-3">
    <%= image_tag "avatar.svg", alt: "blank avatar", height: "260" %>
    <h2><%= @user.nickname %></h2>
    <p>Joined <%= @user.created_at.strftime("%B, %Y") %></p>
    <div>
      <div class="mb-3">
        <a href="">9 Followers</a>
          ·
        <a href="">57 Following</a>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="row row-cols-3">
      <div class="col">
        <h3>Collected</h3>
        <p>123</p>
      </div>
      <div class="col">
        <h3>Read</h3>
        <p>69</p>
      </div>
      <div class="col">
        <h3>Wish List</h3>
        <p>420</p>
      </div>
    </div>
  </div>
</div>
