<div class="modal" id="firstTimeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">First Time Setup</h4>
      </div>
      <div class="modal-body">
        Welcome to Comicdex! There are currently no users in the database. In order to continue, we need to set up a web
        application admin user.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
      </div>

    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var firstTimeModal = new bootstrap.Modal(document.getElementById('firstTimeModal'), {
      keyboard: false
    });
    firstTimeModal.show();
  });
</script>
